/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #eee;
  display: flex;
}

.cards-container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  perspective: 1000px;
}

.card {
  width: calc(33.33% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.1);
  backface-visibility: hidden; /*hide element mirror face*/
}

.flip {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(180deg);
}
