/*CSS Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #eee;
  display: flex;
}

.container {
  width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 12px;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid #333; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  padding: 20px;
  /* gap: 5px; */
  margin-bottom: 20px;
}

.cards-container > img {
  width: 33.33%;
  height: auto;
  /* padding-right: 5px; */
}

.cards-container > img:nth-child(3),
.cards-container > img:last-child {
  /* margin-right: 0; */
}

.controls {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #01750f;
}

p > span {
  color: #333;
}

.win {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.win > h2 {
  padding: 20px;
}

.win > .restart {
  background-color: #01750f;
  padding: 20px 30px;
  border-radius: 9999px;
  color: #fff;
  border: none;
  font-size: 1.2rem;
}

.restart:hover {
  background-color: rgb(1, 117, 15, 0.8);
  font-weight: bold;
}

.none {
  display: none;
}
/* .cards-container {
  width: 700px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  perspective: 800px;
} */

/* .card {
  width: calc(33.33% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  display: flex;
  align-items: center;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.2s;
}

.front,
.back {
  position: absolute;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.1);
  backface-visibility: hidden;  */
/*hide element mirror face*/
/* }

.flip {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(180deg);
} */
